Welcome to my MongoDB with Pymongo Notebook. In this notebook we have performed varios operations of Pymongg with the sample documents.
1. Create DB.
2. Create Collection.
3. Insert One Record.
4. Insert Many Record.
5. Fetch One Record.
6. Fetch All Records.
7. Basic Queries.
8. Delete Collection

In [1]:
from pymongo import MongoClient

In [3]:
#setting client
client = MongoClient(['localhost'])
#Database
db = client['test-database']
#collections
collection = db['test-collections']

In [9]:
#content
mydict = {"name":"sujit","age":24}

#insert one 
x= collection.insert_one(mydict).inserted_id#to get ids
print(x)

637326e0784ebafa8bd9b174

In [12]:
#access one record
a = collection.find_one()
a

{'_id': ObjectId('6373263c784ebafa8bd9b16f'), 'name': 'sujit', 'age': 24}

In [24]:
#insert many 
    mylist = [
    {"name": "Amy", "address": "Apple st 652"},
    {"name": "Hannah", "address": "Mountain 21"},
    {"name": "Michael", "address": "Valley 345"},
    {"name": "Sandy", "address": "Ocean blvd 2"},
    {"name": "Betty", "address": "Green Grass 1"},
    {"name": "Richard", "address": "Sky st 331"},
    {"name": "Susan", "address": "One way 98"},
    {"name": "Vicky", "address": "Yellow Garden 2"},
    {"name": "Ben", "address": "Park Lane 38"},
    {"name": "William", "address": "Central st 954"},
    {"name": "Chuck", "address": "Main Road 989"},
    {"name": "Viola", "address": "Sideway 1633"}
]
b = collection.insert_many(mylist).inserted_ids
print(b)

[ObjectId('63732d5a784ebafa8bd9b1b1'), ObjectId('63732d5a784ebafa8bd9b1b2'), ObjectId('63732d5a784ebafa8bd9b1b3'), ObjectId('63732d5a784ebafa8bd9b1b4'), ObjectId('63732d5a784ebafa8bd9b1b5'), ObjectId('63732d5a784ebafa8bd9b1b6'), ObjectId('63732d5a784ebafa8bd9b1b7'), ObjectId('63732d5a784ebafa8bd9b1b8'), ObjectId('63732d5a784ebafa8bd9b1b9'), ObjectId('63732d5a784ebafa8bd9b1ba'), ObjectId('63732d5a784ebafa8bd9b1bb'), ObjectId('63732d5a784ebafa8bd9b1bc')]

In [48]:
#fetch many
for c in collection.find():
    print(c)

{'_id': ObjectId('6373263c784ebafa8bd9b16f'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('63732645784ebafa8bd9b170'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326b7784ebafa8bd9b171'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326c4784ebafa8bd9b172'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326d3784ebafa8bd9b173'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326e0784ebafa8bd9b174'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('63732c47784ebafa8bd9b175'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c47784ebafa8bd9b177'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c47784ebafa8bd9b178'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c47784ebafa8bd9b179'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c47784ebafa8bd9b17a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c47784ebafa8bd9b17b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c47784ebafa8bd9b17c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c47784ebafa8bd9b17d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c47784ebafa8bd9b17e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c47784ebafa8bd9b17f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c47784ebafa8bd9b180'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c5b784ebafa8bd9b181'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c5b784ebafa8bd9b183'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c5b784ebafa8bd9b184'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c5b784ebafa8bd9b185'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c5b784ebafa8bd9b186'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c5b784ebafa8bd9b187'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c5b784ebafa8bd9b188'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c5b784ebafa8bd9b189'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c5b784ebafa8bd9b18a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c5b784ebafa8bd9b18b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c5b784ebafa8bd9b18c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c61784ebafa8bd9b18d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c61784ebafa8bd9b18f'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c61784ebafa8bd9b190'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c61784ebafa8bd9b191'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c61784ebafa8bd9b192'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c61784ebafa8bd9b193'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c61784ebafa8bd9b194'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c61784ebafa8bd9b195'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c61784ebafa8bd9b196'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c61784ebafa8bd9b197'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c61784ebafa8bd9b198'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c6b784ebafa8bd9b199'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19b'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a0'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a1'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a2'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a3'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a4'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a7'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c79784ebafa8bd9b1aa'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ab'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ac'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ad'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ae'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c79784ebafa8bd9b1af'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c79784ebafa8bd9b1b0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b3'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1ba'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1bb'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1bc'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [31]:
#query

myquery = { 'name': 'Viola' }
for d in collection.find_one(myquery):
    print(d)

_id
name
address

In [32]:
for x in collection.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'sujit'}
{'name': 'sujit'}
{'name': 'sujit'}
{'name': 'sujit'}
{'name': 'sujit'}
{'name': 'sujit'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [46]:
#Update 
myquery = { "address": "Valley 345" }  
newvalues = { "$set": { "name": "Minnie" } }
h = collection.update_many(myquery, newvalues)
print(h.modified_count, "documents updated.")
for h in collection.find():
    print(h)

0 documents updated.
{'_id': ObjectId('6373263c784ebafa8bd9b16f'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('63732645784ebafa8bd9b170'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326b7784ebafa8bd9b171'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326c4784ebafa8bd9b172'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326d3784ebafa8bd9b173'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326e0784ebafa8bd9b174'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('63732c47784ebafa8bd9b175'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c47784ebafa8bd9b177'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c47784ebafa8bd9b178'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c47784ebafa8bd9b179'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c47784ebafa8bd9b17a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c47784ebafa8bd9b17b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c47784ebafa8bd9b17c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c47784ebafa8bd9b17d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c47784ebafa8bd9b17e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c47784ebafa8bd9b17f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c47784ebafa8bd9b180'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c5b784ebafa8bd9b181'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c5b784ebafa8bd9b183'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c5b784ebafa8bd9b184'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c5b784ebafa8bd9b185'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c5b784ebafa8bd9b186'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c5b784ebafa8bd9b187'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c5b784ebafa8bd9b188'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c5b784ebafa8bd9b189'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c5b784ebafa8bd9b18a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c5b784ebafa8bd9b18b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c5b784ebafa8bd9b18c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c61784ebafa8bd9b18d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c61784ebafa8bd9b18f'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c61784ebafa8bd9b190'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c61784ebafa8bd9b191'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c61784ebafa8bd9b192'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c61784ebafa8bd9b193'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c61784ebafa8bd9b194'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c61784ebafa8bd9b195'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c61784ebafa8bd9b196'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c61784ebafa8bd9b197'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c61784ebafa8bd9b198'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c6b784ebafa8bd9b199'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19b'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a0'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a1'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a2'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a3'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a4'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a7'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c79784ebafa8bd9b1aa'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ab'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ac'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ad'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ae'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c79784ebafa8bd9b1af'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c79784ebafa8bd9b1b0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b3'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1ba'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1bb'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1bc'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [44]:
#delete

myquery = { "address": "Mountain 21" }
i = collection.delete_one(myquery)
for i in collection.find():
    print(i)

{'_id': ObjectId('6373263c784ebafa8bd9b16f'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('63732645784ebafa8bd9b170'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326b7784ebafa8bd9b171'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326c4784ebafa8bd9b172'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326d3784ebafa8bd9b173'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326e0784ebafa8bd9b174'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('63732c47784ebafa8bd9b175'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c47784ebafa8bd9b177'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c47784ebafa8bd9b178'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c47784ebafa8bd9b179'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c47784ebafa8bd9b17a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c47784ebafa8bd9b17b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c47784ebafa8bd9b17c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c47784ebafa8bd9b17d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c47784ebafa8bd9b17e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c47784ebafa8bd9b17f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c47784ebafa8bd9b180'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c5b784ebafa8bd9b181'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c5b784ebafa8bd9b183'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c5b784ebafa8bd9b184'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c5b784ebafa8bd9b185'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c5b784ebafa8bd9b186'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c5b784ebafa8bd9b187'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c5b784ebafa8bd9b188'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c5b784ebafa8bd9b189'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c5b784ebafa8bd9b18a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c5b784ebafa8bd9b18b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c5b784ebafa8bd9b18c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c61784ebafa8bd9b18d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c61784ebafa8bd9b18f'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c61784ebafa8bd9b190'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c61784ebafa8bd9b191'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c61784ebafa8bd9b192'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c61784ebafa8bd9b193'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c61784ebafa8bd9b194'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c61784ebafa8bd9b195'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c61784ebafa8bd9b196'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c61784ebafa8bd9b197'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c61784ebafa8bd9b198'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c6b784ebafa8bd9b199'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19b'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c6b784ebafa8bd9b19f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a0'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a1'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a2'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a3'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c6b784ebafa8bd9b1a4'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a7'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732c79784ebafa8bd9b1a9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732c79784ebafa8bd9b1aa'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ab'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ac'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ad'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732c79784ebafa8bd9b1ae'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732c79784ebafa8bd9b1af'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732c79784ebafa8bd9b1b0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b3'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1b9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1ba'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1bb'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63732d5a784ebafa8bd9b1bc'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [41]:
#find the data which is greater than S alphabet
myquery = { "address": { "$gt": "S"} }
mydoc = collection.find(myquery).limit(7)
for s in mydoc:
    print(s)

{'_id': ObjectId('63732c47784ebafa8bd9b177'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c47784ebafa8bd9b17a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c47784ebafa8bd9b17c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63732c47784ebafa8bd9b180'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63732c5b784ebafa8bd9b183'), 'name': 'Minnie', 'address': 'Valley 345'}
{'_id': ObjectId('63732c5b784ebafa8bd9b186'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63732c5b784ebafa8bd9b188'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}

In [40]:
# Limit the result to only return 5 documents:

myresult = collection.find().limit(5)
for g in myresult:
    print(g)

{'_id': ObjectId('6373263c784ebafa8bd9b16f'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('63732645784ebafa8bd9b170'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326b7784ebafa8bd9b171'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326c4784ebafa8bd9b172'), 'name': 'sujit', 'age': 24}
{'_id': ObjectId('637326d3784ebafa8bd9b173'), 'name': 'sujit', 'age': 24}